.footer-wrapper {
  padding: 40px 20px;
  background: #fcefdb;
  color: #202020;
  font-family: 'Poppins', sans-serif;
}

.footer-grid {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  justify-content: space-between;
  gap: 10px;
  max-width: 80%;
  margin: auto;
}

.footer-branding {
  text-align: left;
}

.footer-logo-img {
  width: 160px;
  /* margin-bottom: 0px; */
}

.footer-description {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 14px;
  max-width: 400px;
}

.footer-about-btn {
  display: inline-block;
  background: #f39c12;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.footer-about-btn:hover {
  background-color: #471c64;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 12px;
  color: #471c64;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  font-weight: 400;
  color: #292929;
  text-decoration: none;
  font-size: 16px;
}

.footer-column ul li a:hover {
  color: #f39c12;
}

.footer-socials {
  display: flex;
  gap: 10px;
}

.footer-socials a {
  color: #353535;
  font-size: 20px;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: #f39c12;
}

.footer-bottom {
  width: 80%; /* or 600px */
  margin: 40px auto 0 auto;
  text-align: center;
  font-size: 15px;
  color: #1f1f1f;
  border-top: 1px solid #333;
  padding-top: 20px;
}
