.related-categories {
  background: #4b2061;
  padding: 30px 20px 60px 20px;
  text-align: center;
  /* border-radius: 20px; */
  margin: 0px auto;
  max-width: 100%;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); */
}

.related-categories h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  justify-content: center;
  align-items: stretch;
  padding: 0 20px;
}

.related-item {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  cursor: pointer;
  height: 100%;
}

.related-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.related-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.related-item:hover img {
  transform: scale(1.05);
}

.item-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  padding: 15px;
  background-color: #fff;
  border-top: 1px solid #eee;
  text-transform: capitalize;
}
