.occasion-wrapper {
  padding: 40px 60px 60px 40px;
  background: hsl(49, 100%, 97%);
  text-align: center;
  
}

.occasion-heading {
  font-size: 2.5rem;
  color: #1c1c1c;
  margin-bottom: 10px;
}

.occasion-sub {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
}

.occasion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.occasion-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.occasion-card:hover {
  transform: translateY(-5px);
}

.image-box {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.occasion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.occasion-card h3 {
  font-size: 1.2rem;
  margin: 15px 0 10px;
  color: #222;
}

.occasion-card p {
  font-size: 0.95rem;
  color: #666;
  padding: 0 15px;
}

.occasion-btn {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 20px;
  background: #f39c12;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(243, 156, 18, 0.2);
  transition: background 0.2s, transform 0.2s;
  font-family: 'Poppins', sans-serif;
}

.occasion-btn:hover {
  background: #4b2061;
  cursor: pointer;
}
