@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

/* HEADER SECTION */
.subcategory-header {
  background: linear-gradient(90deg, #ff1493, #ff69b4);
  color: white;
  padding: 60px 20px;
  text-align: left;
  border-bottom: 2px solid #e6e6e6;
}

.subcategory-header-content {
  max-width: 1300px;
  margin: 0 auto;
 
}

.circle {
  width: 35px; /* Adjust as needed */
  height: 35px; /* Adjust as needed */
  border-radius: 50%; /* Makes it a circle */
  border: 1px solid white; /* Example border, adjust as needed */
  background: transparent; /* Example color, adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  padding: 5px;
}

.arrow {
  font-size: 22px; /* Adjust size as needed */
  color: white; /* Example color, adjust as needed */
}
.back-link {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 250px;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.back-link:hover {
  text-decoration: none;
}
.back-link .span-name {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 16px;
  left: 0;
}
.subcategory-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.subcategory-description {
  font-size: 1rem;
  max-width: 720px;
  margin: 10px  0;
  line-height: 1.6;
  text-align: left;
}

/* Subcategory Container */
.subcategory-container {
  max-width: 1350px;
  margin-left: 250px;
  padding: 3rem 2rem;
  background: #4b2061;
  margin-bottom: 30px;
  border-radius: 0 0 50px 50px;
}

.subcategory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

/* Subcategory Card */
.subcategory-card {
  background: white;
  border-radius: 12px;
  width: 250px;
  overflow: hidden;
  text-decoration: none;
  color: #333;
  box-shadow: 0 6px 14px rgba(75, 32, 97, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
}

.subcategory-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 18px rgba(75, 32, 97, 0.15);
  border: 2px solid #f39c12;
}

/* Subcategory Image */
.subcategory-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.subcategory-card:hover .subcategory-image {
  transform: scale(1.05);
}

/* Subcategory Name */
.subcategory-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 0;
  background-color: #4b2061;
 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
