.color-palette-container {
  /* background-color: white; */
  padding: 1.5rem;
  border-radius: 8px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.color-palette-row {
  margin-bottom: 1.5rem;
}

.color-palette-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #4b2061;
}

.color-swatches {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.color-swatch {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
  border: 2px solid transparent;
}

.color-swatch:hover {
  transform: scale(1.1);
  border-color: #4b2061;
}