.thumbnail-navigation-container {
  margin-bottom: 1.5rem;
}

.thumbnail-buttons {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  font-family: 'Poppins', sans-serif;
}

.thumbnail-button {
  flex: 1;
  min-width: 120px;
  padding: 0.75rem 0.5rem;
  background-color: #fcefdb;
  border: 1px solid #e0d0b8;
  border-radius: 4px;
  color: #4b2061;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.thumbnail-button:hover {
    border: none;
    color: white;
  background-color: #f39c12;
}

.active-thumbnail-button {
  background-color: #4b2061;
  color: white;
  border-color: #4b2061;
}